<footer class="row m-0 p-5 shadow bg-dark-subtle d-flex align-items-center navbar font-monospace navbar-brand">
  <div class="col font-monospace navbar-brand d-flex flex-column align-items-center">
    <img src="/logo.png" width="300">
    <span>CodeChronicles</span>
    <p class="fs-6">
      <i class="fa-regular fa-copyright"></i> 2024 CodeChronicles v.1.0.0. This work is licensed under the terms of the
      <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
    </p>
    <small class="text-muted">Developed by <a href="https://devsanti.dev" target="_blank">dev_santi</a></small>
    <small class="text-muted">View the <a href="https://github.com/devsanti1/code-chronicles" target="_blank"><i
          class="fa-brands fa-github"></i> GitHub
        repository</a></small>
  </div>
  <button class="btn btn-outline-primary w-auto d-flex align-items-center p-3 rounded-0 position-absolute top-0 end-0"
    id="scrollTop">
    <i class="fa fa-chevron-up"></i></button>
</footer>