<main class="row m-0 d-flex align-items-center">
  <div
    class="alert alert-primary fade show my-5 mx-auto h-auto col-11 col-md-8 col-lg-6 d-flex flex-column align-items-center"
    role="alert">
    <img src="/icons/404.png" alt="404 - CodeChronicles" class="img-fluid w-50">
    <p class="text-muted text-danger">Error 404</p>
    <p class="text-center">No hemos encontrado lo que buscas...</p>
  </div>
</main>