<form action="/api/auth/login" method="post">
  <input type="text" name="email" id="" value="abc@abc.com">
  <input type="text" name="password" id="" value="Abcdefg123$">
  <input type="submit" value="Login">
</form>