<form action="/api/auth/register" method="post">
  <input type="text" name="username" id="" value="">
  <input type="text" name="email" id="" value="">
  <input type="password" name="password" id="" value="">
  <input type="submit" value="Registrarse">
</form>