<form action="/api/auth/register" method="post">
  <input type="text" name="username" id="" value="HOLA_santi">
  <input type="text" name="email" id="" value="abc@abc.com">
  <input type="password" name="password" id="" value="Abcdefg123$">
  <input type="submit" value="Registrarse">
</form>